<div>
    <h1>Muhammet Abdullah Şahin</h1>
    <nav>
        <ul>
            <a class="links" href="/index.html">Anasayfa</a>
            <><a class="links" href="./pages/hakkimda.html">Hakkımda</a>
            <><a class="links" href="./pages/projeler.html">Projeler</a>
            <><a class="links" href="./pages/iletisim.html">İletişim</a>
            <><a class="links" href="./pages/cvindir.html">CV'i İndir</a>
        </ul>
    </nav>
        <!-- Clock'un gösterileceği alan -->
        <div id="clock"></div>

        <!-- clock.js dosyasını içe aktar -->
        <script src="path/to/clock.js"></script>
</div>